.chat {
    width: 600px;
    padding: 50px 20px 20px;
    position: absolute;
    right: -610px;
    top: 0;
    bottom: 0;
    border-left: 3px solid $color-primary-light;
    background-color: $color-primary-dark;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .5);
    z-index: 110;
    overflow-y: auto;
    transition: .6s all ease-in;

    &.active {
        right: 0;
    }

    h2 {
        margin-bottom: 20px;
        color: $color-white;
        font-size: 1.4em;
    }

    .btn-close {
        position: absolute;
        top: 0;
        left: 0;
        width: 50px;
        height: 50px;
        padding: 0;
        margin: 0;
        text-align: left;
        display: inline-block;
        border: none;
        outline: none;
        background-color: transparent;
        cursor: pointer;
        transition: .3s all ease;

        &:hover {
            opacity: 0.5;
        }

        .icon-close {
            width: 50px;
            height: 50px;
            padding: 0;
            margin: 0;
            display: block;
            background: url("../../images/sprite_icons.png") no-repeat -150px -100px;
        }
    }

    .chat-wrap {
        display: flex;
        height: 95%;
        max-height: 95%;
        width: 100%;
        padding: 0 0 20px;
        align-items: center;
        flex-direction: column;
    }

    .chat-container {
        display: flex;
        flex-direction: column;
        padding: 5px 10px;
        height: 600px;
        max-height: 600px;
        overflow: auto;
        width: 100%;
        border: 2px solid $color-primary-light;
        border-radius: 10px;
        padding-bottom: 10px;
    }

    .in-row {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
    }

    .in-message {
        width: 45%;
        background-color: $color-primary-light;
        color: $color-grey-light-1;
        padding: 10px;
        margin-right: 5px;
        text-align: center;
        border-radius: 10px 10px 0 10px;
    }

    .out-row {
        width: 100%;
        display: flex;
        margin-top: 10px;
        justify-content: flex-start;
    }

    .out-message {
        width: 45%;
        background-color: transparent;
        background-color: rgb(76, 132, 179);
        color: $color-grey-light-1;
        padding: 10px;
        margin-left: 5px;
        text-align: center;
        border-radius: 10px 10px 10px 0;
    }

    .chat-form {
        width: 100%;
    }

    .chat-write {
        width: 100%;
        height: 100px;
        min-height: 100px;
        border-radius: 10px;
        margin: 15px 0 5px;
        padding: 10px;
        font-size: 17px;
        background-color: transparent;
        border: 2px solid $color-primary-light;
        outline: none;
        color: lightgray;
        letter-spacing: 1px;
        line-height: 20px;
        resize: vertical;

        &::placeholder {
            color: lightgray;
        }
    }

    .chat-btn {
        width: 100%;
        padding: 5px 20px 7px;
        font-size: 1.5em;
        font-weight: 500;
        color: $color-white;
        outline: none;
        background-color: rgb(54, 148, 0);
        border: none;
        border-radius: 10px;
        cursor: pointer;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
        transition: 0.3s all ease;

        &:hover {
            background-color: rgb(71, 194, 0);
            box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
        }

    }

}

@media only screen and (max-width: 602px) {

    .chat {
        width: 100%;
    }
}