.link {
    width: 300px;
    position: absolute;
    left: -310px;
    top: 0;
    bottom: 0;
    border-right: 3px solid $color-primary-light;
    background-color: $color-grey-light-1;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .5);
    z-index: 110;
    transition: .3s all ease;

    &.active {
        left: 0;
    }

    .btn-close {
        position: absolute;
        top: 0;
        right: 0;
        width: 50px;
        height: 50px;
        padding: 0;
        margin: 0;
        text-align: left;
        display: inline-block;
        border: none;
        outline: none;
        background-color: transparent;
        cursor: pointer;
        transition: .3s all ease;

        &:hover {
            opacity: 0.5;
        }

        .icon-close {
            width: 50px;
            height: 50px;
            padding: 0;
            margin: 0;
            display: block;
            background: url("../../images/sprite_icons.png") no-repeat -150px -100px;
        }
    }
}