.settings {
    width: 300px;
    padding: 50px 20px 20px;
    position: absolute;
    right: -310px;
    top: 0;
    bottom: 0;
    border-left: 3px solid $color-primary-light;
    background-color: $color-primary-dark;
    box-shadow: -3px -3px 10px rgba(0, 0, 0, 0.5);
    z-index: 110;
    overflow-y: auto;
    transition: 0.3s all ease;

    &.active {
        right: 0;
    }

    h2 {
        margin-bottom: 20px;
        color: $color-white;
        font-size: 1.4em;
    }

    label {
        display: block;
        font-size: 1.1em;
        line-height: 1.2em;
        color: $color-white;
        font-weight: 700;
        margin-bottom: 5px
    }

    .select {
        width: 255px;
        margin-bottom: 30px;

        select {
            width: 255px;
            padding: 7px;
            margin: 0;
            font-size: 1.1em;
            border-radius: 4px;
            background: #f8f8f8;
            color: $color-primary;
            border: none;
            outline: none;
            display: block;
            cursor: pointer;
        }

    }

    .info {
        margin-bottom: 30px;
        color: $color-white;
        font-size: 1.2em;
        line-height: 1.4em;
    }

    .btn-close {
        position: absolute;
        top: 0;
        left: 0;
        width: 50px;
        height: 50px;
        padding: 0;
        margin: 0;
        text-align: left;
        display: inline-block;
        border: none;
        outline: none;
        background-color: transparent;
        cursor: pointer;
        transition: 0.3s all ease;

        &:hover {
            opacity: 0.5;
        }

        .icon-close {
            width: 50px;
            height: 50px;
            padding: 0;
            margin: 0;
            display: block;
            background: url("../../images/sprite_icons.png") no-repeat -150px -100px;
        }
    }
}